apiVersion: apps/v1
kind: Deployment
metadata:
  name: kudos-frontend
  labels:
    app: kudos-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kudos-frontend
  template:
    metadata:
      labels:
        app: kudos-frontend
    spec:
      containers:
        - name: kudos-frontend
          image: 036983629554.dkr.ecr.us-east-1.amazonaws.com/kudos-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_URL
              valueFrom:
                configMapKeyRef:
                  name: kudos-app-config
                  key: VITE_API_URL
          resources:
            requests: 
              cpu: "100m"
              memory: "128Mi" 
            limits:
              cpu: "500m"
              memory: "512Mi"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kudos-backend
  labels:
    app: kudos-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kudos-backend
  template:
    metadata:
      labels:
        app: kudos-backend
    spec:
      containers:
        - name: kudos-backend
          image: 036983629554.dkr.ecr.us-east-1.amazonaws.com/kudos-app-backend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: kudos-app-config
                  key: PORT
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: kudos-app-config
                  key: NODE_ENV
          livenessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 3001
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests: 
              cpu: "100m"
              memory: "128Mi" 
            limits:
              cpu: "300m"
              memory: "256Mi"
